#contenedor
{
background-color:#76CFFB;
	width:800px;
	height:800px;
	border-radius:15px;
	margin: 0 auto;
}
#columna1
{
	background-color:yellow;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna2
{
	background-color:red;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna3
{
	background-color:gray;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
	}
#columna4
{
	background-color:blue;
		width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna5
{
	background-color:blue;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
	}
#columna6
{
	background-color:green;
width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna7
{
	background-color:pink;
width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
	
#columna8
{
	background-color:purple;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna9
{
	background-color:yellow;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna10
{
	background-color:red;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna11
{
	background-color:gray;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
	}
#columna12
{
	background-color:blue;
		width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna13
{
	background-color:blue;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
	}
#columna14
{
	background-color:green;
width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
#columna15
{
	background-color:pink;
width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
	
#columna16
{
	background-color:purple;
	width:200px;
	height:200px;
	border-radius:15px;
	float:left;
}
