#contenedor
{
	background-color:#FFF;
	width:1024px;
	height:800px;
	border-radius:15px;
	margin: 0 auto;

}

#banner
{
	background-color:#12BECA;
	width:100%;
	height:200px;
	border-radius:15px;
	margin-bottom: 10px;
	
}

#bloquecentral
{
	background-color:#FFF;
	width:1024px;
	height:600px;
	border-radius:15px;
	margin: 0 auto;
}
	
#izquierda
{
	background-color:#E5FF5F;
	width:250;
	height:100%;
	border-radius:15px;
	float:left;	
	margin-left: 10px;
}
#centro
{
	background-color:#4BFC60;
	width:490;
	height:100%;
	border-radius:15px;
	float:left;
	margin-left: 10px;

}	
#derecha
{
	background-color:#E5FF5F;
	width:250;
	height:100%;
	border-radius:15px;
	float:left;
	margin-left: 10px;
}	
#tabla
{
	font-family: impact;
	text-decoration: none;
	font-size: 30pt;
	border-radius:15px;
	background: #4BFC60;
	border:2px solid black;
	color:black;
	margin-left: 400px;
}
#domino
{
	font-family: impact;
	text-decoration: none;
	font-size: 30pt;
	border-radius:15px;
	background: #4BFC60;
	border:2px solid black;
	color:black;
	margin-right: 390px;
}